html{
	font-family: sans-serif;
}
html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	border:0;
	padding:0;
	font-style:normal;
}
html,body {
	width: 100%;
	height: 100%;
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select:none;
	background-color: #fff;
}
nav,article,aside,details,main,header,footer,section,fieldset,figcaption,figure{
	display: block;
}
img,a,button,em,del,strong,var,label,cite,small,time,mark,code,textarea{
	display:inline-block;
}
header,section,footer {
	position:relative;
}
ol,ul{
	list-style:none;
}
input,button,textarea {
	border:0;
	margin:0;
	padding:0;
	font-size:1em;
	line-height:1em;
	/*-webkit-appearance:none;*/
	background-color:rgba(0, 0, 0, 0);
}
span{
	display:inline-block;
}
a:active, a:hover {
  outline: 0;
}
a, a:visited{
	text-decoration:none;
}

label, .wordWrap{
    word-wrap: break-word;
    word-break: break-all;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,th {
  padding: 0;
}
.wrap {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-flex-flow: column;
}
.flex-1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
}
.clearfix:after{
	content: ' ';
	display: block;
	clear: both;
	visibility:hidden;
	line-height: 0;
	height:0;
}
.loading_more{
	display: block;
	height: 1.5em;
	width: 100%;
}
.loading_more:before {
	display: inline-block; vertical-align: text-bottom;
	content: ' '; height: 16px; width: 16px; margin-right: 6px;
	background: url(../image/loading_more.gif) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
} 
.loading_more:after {
	content: '加载更多';	
}
.contain{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.cover{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
input[type="text"],
input[type="password"]{
	border: solid 1px #d8d9e0;
}
input[type="button"].keepBtn {
	width: 27.93vw;
	height: 5.469vw;
	background-image: linear-gradient(90deg, 
		#3fa6f5 0%, 
		#1a56ec 100%), 
	linear-gradient(
		#346af3, 
		#346af3);
	border-radius: 2.734vw;
	outline: none;
	color: #ffffff;
	font-size: 1.953vw;
	letter-spacing: 5px;
}

.icon-user{
	width: 1.855vw;
	height: 1.855vw;
	background: url('../image/user.png') no-repeat;
	background-size: contain;
	background-position: center;
}

.icon-tel{
	width: 1.855vw;
	height: 1.855vw;
	background: url('../image/tel.png') no-repeat;
	background-size: contain;
	background-position: center;
}

.icon-suo{
	width: 1.855vw;
	height: 1.855vw;
	background: url('../image/suo.png') no-repeat;
	background-size: contain;
	background-position: center;
}

.icon-fanhui{
	background: url('../image/fanhui.png') no-repeat;
	background-size: 1.46vw 2.54vw;
	background-position: left center;
}

.icon-xiala{
	background: url('../image/xiala.png') no-repeat;
	background-size: 1.76vw 1vw;
	background-position: right center;
}

.icon-dingwei{
	background: url('../image/dingwei.png') no-repeat;
	background-size: auto 1.367vw;
	background-position: center;
}

.icon-shijianxuanzeqi{
	background: url('../image/shijianxuanzeqi.png') no-repeat;
	background-size: auto 1.367vw;
	background-position: center;
}

.icon-wode{
	background: url('../image/wode.png') no-repeat;
	background-size: auto 1.367vw;
	background-position: center;
}

.icon-qunzu{
	background: url('../image/qunzu.png') no-repeat;
	background-size: auto 1.367vw;
	background-position: center;
}

.icon-dingdan{
	background: url('../image/dingdan.png') no-repeat;
	background-size: auto 1.367vw;
	background-position: center;
}

.icon-dizhi{
	background: url('../image/dizhi.png') no-repeat;
	background-size: auto 2.15vw;
}

header {
	width: 100%;
	height: 3.91vw;
	text-align: center;
	background-color: #dfdfe0;
	color: #1e1e1e;
	line-height: 3.91vw;
	font-size: 1.758vw;
	flex: none;
}